import("rJava")

importFrom("Biostrings", reverseComplement)
importFrom("Biostrings", DNAStringSet)
importFrom("stats", "complete.cases")
importFrom("utils", "flush.console", "read.table", "write.table")

export("selex.kmerPSFM")
export("selex.fastqPSFM")
export("selex.getAttributes")
export("selex.affinities")
export("selex.loadAnnotation")
export("selex.defineSample")
export("selex.config")
export("selex.infogainSummary")
export("selex.mmSummary")
export("selex.run")
export("selex.summary")
export("selex.countSummary")
export("selex.split")
export("selex.sampleSummary")
export("selex.sample")
export("selex.jvmStatus")
export("selex.setwd")
export("selex.revcomp")
export("selex.mmProb")
export("selex.counts")
export("selex.mm")
export("selex.infogain")
export("selex.kmax")
export("selex.seqfilter")
export("selex.getSeqfilter")
export("selex.exampledata")
export("selex.getRound0")
export("selex.saveAnnotation")
export("selex.samplePSFM")
